div{
  height: 250px;
  width: 250px;
  background: black;
  transition-duration: 10s;
  transition-delay: 5s;
  transition-timing-function: ease-in-out;
  transform: rotate(0deg);
}

div:hover{
  transform: rotate(3600deg);
  border-radius: 50%;
  background: crimson;
}