div{
  height: 250px;
  width: 250px;
  background: red;
}

/* div:hover{
  transform: rotate(45deg);
} */

/* div:hover{

  transform: scale(0.5);
} */

div:hover{
  transform: skew(130deg);
}

/* div:hover{
  transform: translate(30px,30px);
} */