h1{
  text-align: center;
  text-decoration: overline;
  text-decoration-style: dashed;
  text-decoration-color: blue;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}

p{
  text-align: justify;
  letter-spacing: 2px;
  word-spacing: 10px;

}

input{
  text-overflow: ellipsis;
}

div{
  height: 140px;
  width: 250px;
  border: 1px solid black;
  word-break: break-all;
  box-shadow: 2px 2px 2px rgba(0,0,0,0);
}
h2{
  font-size: 100px;
  font-weight: bold;
  font-family: serif;
  font-variant: small-caps;
  font-style: italic;
}